.corner-info {
  position: fixed;
  top: -25px;
  left: -78px;
  z-index: $zindex-navbar-fixed + 1;
  background-color: $brand-success;
  font-weight: bold;
  text-align: center;
  padding: 50px 60px 5px;
  transform: rotate(-45deg);

  @include custom-link(#fff);

  @media screen and (min-width: $screen-sm-min) {
    font-size: 18px;
  }

  .close {
    position: absolute;
    top: 22px;
    left: 93px;
    transform: rotate(45deg);
    color: #fff;
    text-shadow: none;
    opacity: 1;

    @media screen and (min-width: $screen-sm-min) {
      top: 15px;
      left: 100px;
    }
  }
}


