.btn {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-centered-bottom {
  position: absolute;
  bottom: 0!important;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.btn-lg {
  font-size: 24px;
  font-weight: 300;
}

.btn-white-border {
  border: 2px solid #fff!important;
}

.btn-fb {
  position: relative;
  padding-left: 45px;
  img {
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -12.5px;
  }
}

.button-helper {
  font-weight: 300;
  display: inline-block;
  margin-top: 5px;
}

.btn-xl {
  width: 80%;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: normal!important;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 9px;
}